@using SmartHome.Model.Enums
@model SmartHome.Model.Models.Device

<div class="col-sm-6 col-centered switch-panel-height">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-6">
                    
                    <h4 class="panel-title panel-header-label-color">
                        <strong>
                            <span>@Model.DeviceName</span>
                        </strong>
                    </h4>
                </div>
            </div>
        </div>
        <div class="panel-body switch-body">
            <div class="text-center">
                <div class="container margin-20 padding-20">
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.ChannelLoad(Model.Channels, 1)
                        </div>
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <img src="~/Images/device/indicator_on.png" alt="bed room" />
                            </div>
                            <div class="row">
                                <span class="font-size-10 text-grey">indicator</span>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-4">
                            @Html.ChannelLoad(Model.Channels, 2)
                        </div>

                        <div class="col-sm-4">

                        </div>

                        <div class="col-sm-4">

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            @Html.ChannelLoad(Model.Channels, 3)
                        </div>

                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            @Html.ChannelLoad(Model.Channels, 4)
                        </div>

                        <div class="col-sm-4">
                            @Html.ChannelLoad(Model.Channels, 5)
                        </div>

                        <div class="col-sm-4">
                            @Html.ChannelLoad(Model.Channels, 6)
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
