@model List<SmartHome.Model.Models.UserHomeLink>

@foreach (var nextHome in Model)
{
    foreach (var nextRoom in nextHome.Home.Rooms)
    {
        @*@Html.Raw("<div id="+ @nextRoom.Name.Replace(" ", "_") + ">")*@

        
        <div id="@nextRoom.Name.Replace(" ", "_")">
            <span class="text-left">
                <h4>@nextRoom.Name</h4>
            </span>
        </div>
        <hr />
        @Html.Raw("<div>")
        foreach (var nextDevice in nextRoom.SmartDevices)
        {
            switch (nextDevice.DeviceType)
            {
                case DeviceType.SmartSwitch6g:
                    @*@Html.SmartSwitch6g(nextDevice)*@
                    @Html.Partial("_SmartHomeDeviceSwitch", nextDevice)
                    break;
                case DeviceType.SmartRainbow12:
                    @Html.Partial("_SmartHomeDeviceRGBW")
                    break;
                case DeviceType.CurtainV:

                    break;
                case DeviceType.Camera:
                    break;
                case DeviceType.SmartRouter:
                    @Html.Partial("_SmartHomeDeviceRouter")
                    break;

            }
        }

        @Html.Raw("</div>")

    }



}



