
@{
    ViewBag.Title = "SmartHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Smart Home</h2>

<div id="tabs">

    <ul>
        <li><a href="#tabs-1">Home</a></li>
        <li><a href="#tabs-2">Room</a></li>
        <li><a href="#tabs-3">Device</a></li>
    </ul>

    <div id="tabs-1">
        @*Content for Tab 1 goes here.<br />
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.*@

        <div class="row row-centered">
            @Html.Partial("_SmartHomeDeviceSwitch")
            @Html.Partial("_SmartHomeDeviceRGBW")
        </div>


    </div>

    <div id="tabs-2">
        @*Content for Tab 2 goes here.<br />
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.*@
        <div class="row">
            @Html.Partial("_SmartHomeRoom")
            @Html.Partial("_SmartHomeRoom")
            @Html.Partial("_SmartHomeRoom")
            @Html.Partial("_SmartHomeRoom")
            @Html.Partial("_SmartHomeRoom")
            @Html.Partial("_SmartHomeRoom")
            @Html.Partial("_SmartHomeRoom")
            @Html.Partial("_SmartHomeRoom")
            @Html.Partial("_SmartHomeRoom")
        </div>
    </div>

    <div id="tabs-3">
        Content for Tab 3 goes here.<br />
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    </div>

</div>


@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    <script src="~/Scripts/colorWheelPicker/farbtastic.js"></script>
    <link href="~/Content/colorWheelPicker/farbtastic.css" rel="stylesheet" />

    <script type="text/javascript">

        $(document).ready(function () {
            $("#tabs").tabs();

        });
    </script>


    @*<script type="text/javascript" charset="utf-8">
          $(document).ready(function() {
            $(".picker").farbtastic(".colorText");
          });
        </script>*@


    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('.imgwrapper').each(function (i, obj) {
                $(obj).find('.picker').attr('id', 'picker-' + i)
                $(obj).find('.input-color').addClass('input-color-' + i)
                $('#picker-' + i).farbtastic('.input-color-' + i);
            });
        });
    </script>


    <script>
        $(function () {
            $(".slider-range-min").slider({
                range: "min",
                value: 1,
                min: 1,
                max: 100,
                slide: function (event, ui) {
                    $(".amount").val(ui.value + " %");
                }
            });
            $(".amount").val($(".slider-range-min").slider("value") + "%");
        });
    </script>
}