@model List<SmartHome.Model.Models.UserHomeLink>

@{
    ViewBag.Title = "SmartHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SmartHome.Model.Models.Version> appVersion = ViewBag.AppVersion;
}

<h4>Welcome : @User.FirstName</h4>
<h2 class="padding-bottom-9">
    <span>
        Welcome to
        @if (@Model.Count() != 0)
        {
            <strong>@Model.FirstOrDefault().Home.Name </strong>
        }
         
    </span>
</h2>
<div id="tabs">

    <ul>
        <li><a href="#tabs-1">Home</a></li>
        <li><a href="#tabs-2">Room</a></li>
        <li><a href="#tabs-3">Device</a></li>
    </ul>

    <div id="tabs-1">
        <div class="row">
            @if (appVersion != null && appVersion.Count() > 0)
            {
                @Html.Partial("_SmartHomeMain", appVersion)
            }

        </div>
    </div>

    <div id="tabs-2">
        <div class="row">
            @foreach (var item in Model)
            {
                @Html.Partial("_SmartHomeRoom", item.Home.Rooms.ToList())
            }
        </div>
    </div>

    <div id="tabs-3">
            @Html.Partial("_SmartHomeDevice", Model)
            
        </div>
        
    </div>

</div>


@section Scripts {


    <script src="~/Scripts/colorWheelPicker/farbtastic.js"></script>
    <link href="~/Content/colorWheelPicker/farbtastic.css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {
            $("#tabs").show();
            $("#tabs").tabs();

            $('.room').on('click', function (e) {
               //alert($(this).html())
                $("#tabs").tabs("option", "active", 2);                
                e.preventDefault();
                $("body, html").animate({
                    scrollTop: $($(this).attr('data-room-link')).offset().top
                }, 600);
            })


        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('.imgwrapper').each(function (i, obj) {
                $(obj).find('.picker').attr('id', 'picker-' + i)
                $(obj).find('.input-color').addClass('input-color-' + i)
                $('#picker-' + i).farbtastic('.input-color-' + i, { width: 50, height: 50 });
            });
        });
    </script>


    <script>
        $(function () {
            $(".slider-range-min").slider({
                range: "min",
                value: 1,
                min: 1,
                max: 100,
                slide: function (event, ui) {
                    $(".amount").val(ui.value + " %");
                }
            });
            $(".amount").val($(".slider-range-min").slider("value") + "%");
        });
    </script>
}