
@{
    ViewBag.Title = "SmartHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Smart Home</h2>

<div id="tabs">

    <ul>
        <li><a href="#tabs-1">Home</a></li>
        <li><a href="#tabs-2">Room</a></li>
        <li><a href="#tabs-3">Device</a></li>
    </ul>

    <div id="tabs-1">
        @*Content for Tab 1 goes here.<br />
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.*@   

        <div class="row">
            @Html.Partial("_SmartHomeDevice")
        </div>

        
    </div>

    <div id="tabs-2">
        @*Content for Tab 2 goes here.<br />
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.*@
        <div class="row">
            @Html.Partial("_SmartHomeRoom")
            @Html.Partial("_SmartHomeRoom")
            @Html.Partial("_SmartHomeRoom")
            @Html.Partial("_SmartHomeRoom")
            @Html.Partial("_SmartHomeRoom")
            @Html.Partial("_SmartHomeRoom")
            @Html.Partial("_SmartHomeRoom")
            @Html.Partial("_SmartHomeRoom")
            @Html.Partial("_SmartHomeRoom")
        </div>  
    </div>

    <div id="tabs-3">
        Content for Tab 3 goes here.<br />
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    </div>

</div>


@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
    $(function () {
        $("#tabs").tabs();
    });
    </script>


<script>
    $(function() {
        $( "#slider-range-min" ).slider({
            range: "min",
            value: 37,
            min: 1,
            max: 700,
            slide: function( event, ui ) {
                $( "#amount" ).val( "$" + ui.value );
            }
        });
        $( "#amount" ).val( "$" + $( "#slider-range-min" ).slider( "value" ) );
    });
</script>
}