@model IEnumerable<SmartHome.Entity.VersionEntity>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VersionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppVersion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassPhrase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mac)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VersionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppVersion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PassPhrase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mac)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { VersionId=item.VersionId }) |
            @Html.ActionLink("Details", "Details", new { VersionId=item.VersionId }) |
            @Html.ActionLink("Delete", "Delete", new { VersionId=item.VersionId })
        </td>
    </tr>
}

</table>
