@model SmartHome.Entity.VersionListEntity
@{
    ViewBag.Title = "List of customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Version List</strong>
    </div>

    <table class="table table-hover">
        <tr>
            <th>
                AppName
            </th>
            <th>
                AppVersion
            </th>
            <th>
                <a href="@Url.Action("Create", "Version")" class="btn btn-sm btn-primary data-modal" role="button">Create New</a>
            </th>
        </tr>

        @foreach (var item in Model.Versions)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.AppName, "Edit", new { VersionId = item.VersionId, page = Request.QueryString["page"] }, new { @class = "data-modal" })
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AppVersion)
                </td>
                
                
                <td>
                    <div class="col-md-4">
                        <a class="btn btn-default btn-xs" href="@Url.Action("Edit", new { @VersionId = item.VersionId })"><span class="glyphicon glyphicon-edit"></span></a>
                        <a class="btn btn-danger btn-xs" href="@Url.Action("Delete", new { @VersionId = item.VersionId })"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>